header {
	border-bottom: 4px solid #0aab0a;

	.header-wrapper {
		margin: 0 auto;
		font-size: 0;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}

	.main-logo {
		padding-left: calc(50% - 480px);
	}


	.inner-logo {
	    padding-bottom: 15px;
	    padding-left: 45px;
	    padding-right: 15px;
	    position: relative;
	    height: 78px;
	    padding-right: calc(50% - 480px);
	    background-color: #0067c5;

	    &:before {
	    	content: "";
		    position: absolute;
		    background-image: url("../img/inner-logo.png");
		    background-repeat: no-repeat;
		    width: 215px;
		    height: 78px;
		    right: 100%;
		    display: block;
	    }
	}
}